.navbar-brand, .nav-link{
  font-weight: bold;
}

.row {
  margin: 5px auto;
}

.table-responsive {
  margin: 30px auto;
}

div.jumbotron.jumbotron-fluid {
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(http://clv.h-cdn.co/assets/17/23/980x654/gallery-1496945163-homes-on-the-lake-roxboro-0717-0817.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  float: center;
  margin: 0px;
  min-height: 15%;
  background-size: cover;
}

.jum-text{
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 2rem;
  font-family: "Coustard", serif;
}

.rounded{
  height: 250px;
}

.row{
  width: 400px;
  margin: 10px auto;
  display: inline;
  height: 250px;
}

.before{
  width: 375px;
  float: left;
}

.after{
  width: 375px;
  float: right;
}

.navbar-nav{
  width: 750px;
}

.d-inline-flex{
  width: 420px;
  height: 300px;

}

.tri-glyph{
  height: 320px;
  padding-top: 10px;
  width: 75%;
}

.feels-title{
  font-weight: bold;
  color: #2e7d32;
}

.feels-instr{
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.feels-body{
  color:#43a047;
}

#body-main {
  background-color: white;
}

#body-sub {
  background-color: #007E33;
}

div.footer{
  width: 100%;
  padding: 50px auto;
  background-color: #007E33;
  color: white;
}

p > a{
  color: white;
}

.footer-text{
  margin: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}

.container-fluid.tri-glyph{
  width:95%;
}

hr{
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 95%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.img-fluid.img-thumbnail{
  margin: 15px auto;
  background-color: white;
}

div.picture-column{
  -webkit-flex-direction: column;
  flex-direction: column;

}

div.picture-row{
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 100px;
}

div.centerFlex{
  display: flex;
  display:-webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content:center;
  -webkit-justify-content: center;

}


div.gal-title, div.gal-title2{
  text-align: center;
  width: 100%;
  margin: 20px auto;
  font-family: "Coustard", serif;
  font-weight: bold;
}

.title-color-1{
  color: #007E33;
  text-decoration: underline;
}

.title-color-2{
  color: white;
  text-decoration: underline;
}

div.FX-contact{
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #007E33;
  height: 300px;
  color: white;
  font-family: "Coustard", serif;
}


div.homepage_content{
  font-family: "Coustard", serif;
}

div.homepage_content.media_xs_order_one.home,
div.homepage_content.media_xs_order_two.home,
div.homepage_content.media_xs_order_three.home{
  width: 90%;
  padding-left: 20px;
  text-align: center;
}

.div-pics{
  background-color: white;
  padding-top: 10px;
}

#skinny{
  width: 143px;
}

#double-stack-pic{
  width: 290px;
}

ul.FX.media_xs_order_one,
ul.FX.media_xs_order_two{
  -webkit-display:flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #007E33;
  padding-right: 20px;
  width: 95%;
  color: white;
  font-family: "Coustard", serif;
  height: 400px;
}

h3.list-title{
  text-decoration: underline;
}
