#body-main {
  background-color: white;
}

#body-sub {
  background-color: #007E33;
}

p > a{
  color: white;
}

img#logo{
  width: 150px;
  height: 75px;
}

hr{
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 95%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}


div.jumbotron.jumbotron-fluid {
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(https://static.pexels.com/photos/280229/pexels-photo-280229.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  float: center;
  margin: 0px;
  min-height: 300px;
  background-size: cover;
}

ul.navbar-nav.mr-auto.nav{
  width: 1057px;
  justify-content: center;
  -webkit-justify-content: center;
}

div.footer{
  width: 100%;
  background-color: #007E33;
  color: white;
  text-align: center;
}

div.picture-column{
  -webkit-flex-direction: column;
  flex-direction: column;
}

div.picture-row{
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 100px;
}

div.centerFlex{
  display: flex;
  display:-webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content:center;
  -webkit-justify-content: center;
}

div.gal-title,
div.gal-title2{
  text-align: center;
  width: 100%;
  margin: 20px auto;
  font-family: "Coustard", serif;
  font-weight: bold;
}

div.submission{
  display: flex;
  -webkit-display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  color: white;
  font-family: "Coustard", serif;

}

p#submission-title{
  text-decoration: underline;
  font-size: 2.5rem;
}

form{
  margin: 10px auto;
}

h6#disclaimer{
  text-align: center;
}

.navbar-brand, .nav-link{
  font-weight: bold;
}

.table-responsive {
  margin: 30px auto;
}

.jum-text{
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 2rem;
  font-family: "Coustard", serif;
}

.rounded{
  height: 250px;
}

.feels-title{
  font-weight: bold;
  color: #2e7d32;
  font-size: 20px;
}

.homePageHeader{
  text-align: center;
  margin: 0px 15px;
  color: #2e7d32;

}

.feels-instr{
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.feels-body{
  color:#43a047;
}

p.footer-text{
  font-size: 14px;
}

.img-fluid.img-thumbnail{
  margin: 15px auto;
  background-color: white;
}

.title-color-1{
  color: #007E33;
  text-decoration: underline;
}

.title-color-2{
  color: white;
  text-decoration: underline;
}

div.FX-contact.centerFlex{
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #007E33;
  margin: 20px;
  color: white;
  font-family: "Coustard", serif;
}


div.homepage_content{
  font-family: "Coustard", serif;
}

div.homepage_content.media_xs_order_one.home,
div.homepage_content.media_xs_order_two.home,
div.homepage_content.media_xs_order_three.home{
  width: 90%;
  padding-left: 20px;
  text-align: center;
}

.div-pics{
  background-color: white;
  padding-top: 10px;
}

#skinny{
  width: 143px;
}

#double-stack-pic{
  width: 290px;
}

ul.FX.media_xs_order_one,
ul.FX.media_xs_order_two{
  -webkit-display:flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #007E33;
  padding-right: 20px;
  width: 95%;
  color: white;
  font-family: "Coustard", serif;
  height: 400px;
}

p.contact-content{
  font-family: "Coustard", serif;
  font-size: 1.5rem;
}

h1.contact-title{
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: "Coustard", serif;
}
